@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');

@mixin vectorCirclesPadrão {
    position: absolute;
    height: auto;
    width: 3%;
    top: 12vw;
    left: 26vw;
}

@mixin vectorArrowRigthPadrão {
    position: absolute;
    width: 3%;
    height: auto;
    rotate: 180deg;
}

header{
    background: rgb(238,116,92);
    background: linear-gradient(90deg, rgba(238,116,92,1) 0%, rgba(231,35,87,1) 100%);
    padding: 2% 5%;

        .gridHeader{
            display: grid;
            grid-template-columns: 35% 35% 30%;
                .vectorLogo{
                    position: absolute;
                    z-index: 0;
                    height: auto;
                    width: 8%;
                    left: 2.3vw;
                    top: 4vw;
                }
                .logo{
                    z-index: 1;
                    height: auto;
                    width: 60%;
                    padding-top: 5%;
                }

                .mulher{
                    position: absolute;
                    right: 30vw;
                    top: 7.6vw;
                    height: auto;
                    width: 12%;
                    z-index: 1; 
                }

                .divVectorArrow{
                    .vectorArrowRigth{
                        @include vectorArrowRigthPadrão();
                    }

                    .vectorArrowRigth-2{
                        @include vectorArrowRigthPadrão();
                        margin-left: 1.5%;
                    }
                }

                .vectorCircles{
                    @include vectorCirclesPadrão;
                }

                .vectorCircles-2{
                    @include vectorCirclesPadrão;
                    margin-left: 1.8%;
                }

                .divParagraph{
                    color: #fff;
                    font-size: 1.5vw;
                    text-align: end;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    line-height: 20%;

                        .vectorTriangulo{
                            position: absolute;
                            width: 2%;
                            height: auto; 
                            rotate: 95deg;
                            top: 3.2vw;
                            right: 6.2vw;
                        }

                        .p{
                            font-size: 1vw;
                            padding-top: 5%;
                        }

                        .vectorWaveLine{
                            height: auto;
                            width: 6%;
                            position: absolute;
                            right: 7.2vw;
                            top: 11.2vw;
                        }
                }
        }
}
